#outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
}

.container-flex {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 0.1rem solid white;
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .item {
    flex-direction: row;
    align-items: center;
  }

  .name-input,
  .exclusion-input {
    flex: 1;
  }

  #outer-container {
    min-height: 100vh;
    justify-content: center;
  }
}

.add-participant {
  margin-top: 10px;
}

.parse-button {
  display: block;
  width: 200px;
  height: 40px;
  margin-top: 15px;
}
